// @import '../commonStylesheet.scss';

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-out;
  &.solid {
    background: #fae596;
    // background: #42daf5;
    // background: #36b4f1;
    // background: #f0f01d;
    color: #4b4b4c;
    transition: all 0.3s ease-in;
  }
  @media (max-width: 500px) {
    background: #fae596;
    color: #4b4b4c;
    transition: all 0.3s ease-in;
  }
  > nav {
    width: 80%;
    margin: 0 auto;
    min-width: 40rem;
    > ul {
      // background: lightblue;
      // color: #4b4b4c;
      display: flex;
      height: 4.5rem;
      // border-bottom: 1px solid #cecece;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 500px) {
        height: 6rem;
      }
      li {
        height: 100%;
        // line-height: 50px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-top: 2px solid transparent;
        cursor: pointer;

        &.active {
          transition: all 0.2s ease-out;
          opacity: 0.8;
          // background: white;
          color: #325eff;
          border-top: 2px solid white;
        }
        &:hover {
          transition: all 0.2s ease-out;
          opacity: 0.8;
          // background: white;
          color: #325eff;
          border-top: 2px solid white;
        }
        svg {
          float: left;
          margin-right: 10px;
          @media (max-width: 900px) {
            display: none;
          }
        }
      }
    }
  }
}
