@import 'common/commonStylesheet.scss';

// archve
@mixin solid-nav {
  // background: #fae596;
  // background: #f7ba59;
  background: rgba($color: #000, $alpha: 0.8);
  color: #cccccc;
  transition: all 0.3s ease-in;
  &:hover {
    nav > ul > li {
      color: #ccc;
    }
  }
}

@mixin tag-hover {
  // senario 1
  // transition: all 0.2s ease-out;
  // border-top: 2px solid #fff;
  // > a {
  //   position: relative;
  //   top: -2px;
  // }
  // senario 2
  transition: all 0.3s ease-in-out;
  background: rgba($color: #fff, $alpha: 0.2);
}

.navbar {
  font-family: 'openSans';
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-out;
  background: rgba($color: black, $alpha: 0.8);
  color: #cccccc;
  @media (max-width: 500px) {
    // font-size: 1.5rem;
    display: none;
  }
  &.hide {
    transition: all 0.3s ease-in-out;
    top: -4.5em;
  }
  > nav {
    width: 80%;
    margin: 0 auto;
    min-width: 20em;

    > ul {
      display: flex;
      height: 4.5em;
      width: 100%;
      align-items: center;
      margin: 0 auto;
      @media (max-width: 900px) {
        width: 20em;
        > li > a {
          svg {
            margin: 0;
          }
          span {
            display: none;
          }
        }
      }
      li {
        width: 25%;
        height: 100%;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        // border-top: 2px solid transparent;
        text-align: center;
        cursor: pointer;

        span {
          font-family: 'openSans';
        }
        svg {
          float: left;
          margin-right: 10px;
        }
        > a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &.active,
          &:hover {
            @include tag-hover();
          }
        }
      }
    }
  }

  // @media (max-width: 500px) {
  //   display: none;
  // }
}

.miniNav {
  display: none;

  @media (max-width: 500px) {
    position: absolute;
    right: 3rem;
    top: 6rem;
    z-index: 5;

    display: block;
    // align-items: center;
    // justify-content: center;
    width: 6rem;
    height: 0rem;
    //   border: 1px solid black;
    text-align: center;
    background: black;
    nav {
      .miniNav__round__first {
        position: absolute;
        top: -3rem;
        height: 6rem;
        width: 6rem;
        background: black;
        border-radius: 50%;
        z-index: 2;
        svg {
          font-size: 3rem;
          color: #ddd;
          cursor: pointer;
          position: relative;
          top: 1.5rem;
        }
      }
      .miniNav__round__second {
        position: absolute;
        bottom: -3rem;
        height: 6rem;
        width: 6rem;
        background: black;
        border-radius: 50%;
      }
      > ul {
        height: 0;
        overflow: hidden;
      }
    }
    &.expand {
      height: 24rem;
      transition: all 0.3s ease-in-out;
      > nav {
        .miniNav__round__first {
          > svg {
            transform: rotate(-90deg);
          }
        }
        > ul {
          position: absolute;
          top: 3rem;
          width: 6rem;
          height: 20rem;
          // background: yellow;
          padding: 1rem 0;
          overflow: hidden;
          li {
            height: 25%;
            position: relative;
            animation: icon-showup 0.7s ease-in-out forwards;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              &.active,
              &:hover {
                @include tag-hover();
              }
              > svg {
                display: block;
                margin: auto 0;

                font-size: 3rem;
                color: #ddd;
              }
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes icon-showup {
  0% {
    bottom: 1rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
