// common styles for tags or classes
// animation effects
@import './Variables.scss';

@mixin button-basic {
  border: 1px solid rgba(41, 43, 50, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 200px;
}

@mixin header-with-cross-sign {
  position: relative;
  box-sizing: border-box;
  height: 4rem;
  > div:first-of-type {
    height: 4rem;
    h2 {
      padding: 1.5rem 1rem;
      text-align: center;
      font-size: 1.3rem;
      color: $color-font-black;
    }
    span {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@mixin nav_li_font {
  display: flex;
  color: $color-font-grey;
  padding: 0 0.5rem;
  font-size: toRem(13);
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  &:hover {
    color: $color-green-blue;
  }
}

@keyframes header-list-show {
  0% {
    height: 1rem;
  }
  100% {
    height: 12rem;
  }
}
@mixin show-medal($fromTop) {
  @keyframes show-medal {
    0% {
      top: 0rem;
      opacity: 0;
    }
    100% {
      top: $fromTop;
      opacity: 1;
    }
  }
  animation: show-medal 0.5s ease-in-out forwards;
}

@mixin show-warning($fromTop) {
  @keyframes show-warning {
    0% {
      top: 10rem;
      opacity: 0;
    }

    100% {
      top: $fromTop;
      opacity: 1;
    }
  }
  animation: show-warning 0.5s ease-in-out forwards;
}
