@import '../../common/commonStylesheet.scss';

.portfolio {
  // overflow: auto;
  width: 1000px;
  margin: 100px auto 0;
  &-item {
    position: relative;
    margin-bottom: 100px;
    &-pic {
      border: 2px solid white;
      width: 750px;
      border-radius: 13px;
      overflow: hidden;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    &-details {
      border-radius: 5px;
      width: 550px;
      height: 200px;
      position: absolute;
      z-index: 3;
      right: 0;
      bottom: 50px;
      background: white;
      padding: 20px;
      border: 1px solid #cecece;
      h3 {
        font-size: 30px;
        margin-bottom: 30px;
        color: #325efe;
        border-bottom: 1px solid #cecece;
        // &::after {
        //   content: '';
        //   width: 30%;
        //   display: block;
        // }
      }
      span {
        float: right;
        margin-top: 10px;
        background: #e33e33;
        color: white;
        padding: 10px;
        border-radius: 5px;
      }
      p {
        line-height: 28px;
        &:nth-of-type(2) {
          text-decoration: underline;
        }
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .portfolio {
    width: 95%;
    min-width: 700px;
    &-item {
      background: white;
      border: 2px solid white;
      border-radius: 20px;
      overflow: hidden;
      &-pic {
        border: none;
        width: 101%;
        border-radius: 0;
        // border-bottom: 1px solid #cecece;
      }
      &-details {
        width: 97%;
        position: static;
        border-radius: 0;
        border: none;
      }
    }
  }
}
