@import '../../common/commonStylesheet.scss';

.portfolio {
  width: 60rem;
  margin: 0 auto;
  padding: 1.25rem 0 6rem;
  &__item {
    position: relative;
    margin-bottom: 6rem;

    &__pic {
      border: 2px solid white;
      width: 45rem;
      border-radius: 13px;
      overflow: hidden;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    &__details {
      border-radius: 5px;
      width: 35rem;
      height: 13rem;
      position: absolute;
      z-index: 3;
      right: 0;
      bottom: 3rem;
      background: white;
      padding: 1.25rem;
      border: 1px solid #cecece;
      h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #325efe;
        border-bottom: 1px solid #cecece;
        // &::after {
        //   content: '';
        //   width: 30%;
        //   display: block;
        // }
      }
      span {
        float: right;
        margin-top: 0.7rem;
        background: #e33e33;
        color: white;
        padding: 0.6rem;
        border-radius: 5px;
      }
      p {
        line-height: 1.75rem;
        &:nth-of-type(2) {
          text-decoration: underline;
        }
        margin-bottom: 1rem;
      }
      a {
        padding-right: 0.6rem;
        &:nth-of-type(2) {
          font-size: 0.9rem;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}
@media (max-width: 60rem) {
  .portfolio {
    width: 95%;
    min-width: 45rem;
    &__item {
      background: white;
      border: 2px solid white;
      border-radius: 20px;
      overflow: hidden;
      &__pic {
        border: none;
        width: 101%;
        border-radius: 0;
        // border-bottom: 1px solid #cecece;
      }
      &__details {
        width: 97%;
        position: static;
        border-radius: 0;
        border: none;
      }
    }
  }
}
